@model AgentRestVM.ModelVM.DashboardVM

@{
    ViewData["Title"] = "DetailsDashboard";
}

<h1>DetailsDashboard</h1>

<div>
    <h4>DashboardVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentActiv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentActiv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Target)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Target)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetEliminated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetEliminated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationOfAgentsToGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationOfAgentsToGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelationOfAgentsToPossibleTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelationOfAgentsToPossibleTargets)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
